.tags_container {
   
    display: flex;
    flex-direction: row;
    justify-content:start; 
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid #eee; */
    margin: 10px 0px ;
   
}
.tag {
    margin: 2px 10px;
    padding: 2px 5px ;
    border: 1px solid #ccc;
    color:rgb(103, 82, 224);
}

.delete_post_btn:hover {
    color:#fff;
    background-color: red;
}