
.main_padd {
    padding:"30px" ;
    
}

.navbar{
    position: fixed;
    height: 47px;
    margin-bottom: 50px; 
    width: 100%;
    top:0;
    right:0;
    background-color: #ccc;


}

.div_row {
    margin: 10px;
   
}

.el_control {
    width: 600px;
    height: 30px;

}

.txtarea {
    height: 100px;
}

.post_container {
   
    display: flex;
    flex-direction: row;
    justify-content:start; 
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #eee;
    margin: 50px 20px ;
   
}